# Blacklist files/folders in same directory as the .gitignore file
/**

# Whitelist some files
!.gitignore
!.README.md
!.CMakeLists.txt
!.challenger360digitald/**/*.*
!.challenger360digitalctl/**/*.*
!.libchallenger360digital/**/*.*
!.systemd/**/*.*
!.udev/**/*.*
